<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>

<%@ Assembly Src="..\..\..\Common\Model.cs" %>
<%@ Assembly Src="..\..\..\Common\Extensions.cs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="SchemaMapper" %>

<%@ Property Name="Entity" Type="SchemaMapper.Entity"  %>
<%@ Property Name="Namespace" Type="System.String" %>
<%-- Safe类名 --%>
<% string SafeClassName = Entity.ClassName.ToSafeName(); %>
<%-- 描述 --%>
<% string Description = Entity.Description; %>
<%-- 驼峰形式类名 --%>
<% string CamelClassName = SafeClassName.ToCamelCase(); %>
@model <%=SafeClassName%>Dto

<util-form id="form" on-submit="submit(form,btnSubmit)">
    <util-card>
        <util-card-header>
            <util-card-title>
                编辑<%=Description%>
            </util-card-title>
        </util-card-header>
        <util-card-content>
            <util-divider inset="true" />
        <% foreach(Property p in Entity.Properties) { %>
        <% if( p.IsPrimaryKey.SafeValue() ) continue; %>
        <% if( Entity.IsHidden(p) ) continue; %>
            <util-layout class="mt30">
                <util-layout-item flex="50%" offset="5%">
                    <% if( p.DataType == DbType.Boolean ){%>
                    <util-slide-toggle for="<%= p.PropertyName.ToSafeName() %>"></util-slide-toggle>
                    <% }else{ %>           
                    <util-textbox for="<%= p.PropertyName.ToSafeName() %>"></util-textbox>                
                    <% } %>
                </util-layout-item>
            </util-layout>
        <% } %>
        </util-card-content>
        <util-card-actions align="Right">
            <util-button text="返回" styles="Default" on-click="back()"></util-button>
            <util-button id="btnSubmit" type="Submit" color="Primary"></util-button>
        </util-card-actions>
    </util-card>
</util-form>