<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>

<%@ Assembly Src="..\..\..\Common\Model.cs" %>
<%@ Assembly Src="..\..\..\Common\Extensions.cs" %>

<%@ Register Name="TreeIndexView" Template="TreeIndexView.cst" MergeProperties="False" ExcludeProperties="" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="SchemaMapper" %>

<%@ Property Name="Entity" Type="SchemaMapper.Entity"  %>
<%@ Property Name="Namespace" Type="System.String" %>
<%-- Safe类名 --%>
<% string SafeClassName = Entity.ClassName.ToSafeName(); %>
<%-- 描述 --%>
<% string Description = Entity.Description; %>
<%-- 驼峰形式类名 --%>
<% string CamelClassName = SafeClassName.ToCamelCase(); %>
<%-- 如果是树型实体，则调用子模板 --%>
<%
if( Entity.IsTreeEntity() ){
    CodeTemplate template =new TreeIndexView();
    template.SetProperty("Namespace",Namespace);
    template.SetProperty("Entity",Entity);
    template.Render(this.Response);
    return;
}
%>
@model <%=SafeClassName%>Dto

<style>
    <% foreach(Property p in Entity.Properties) { %>
    <% if( p.IsPrimaryKey.SafeValue() ) continue; %>
    <% if( p.ColumnName.ToLower() == "creationtime" ) { %>
    .mat-column-creationTime {
        max-width: 100px;
    }
    <%continue; } %>    
    <% if( Entity.IsHidden(p) ) continue; %>
    <% if( p.DataType == DbType.Boolean ) { %>
    .mat-column-<%= p.PropertyName.ToSafeName().ToCamelCase() %> {
        max-width: 80px;
    }
    <%continue; } %>
    .mat-column-<%= p.PropertyName.ToSafeName().ToCamelCase() %> {
        max-width: 20%;
    }
    <% } %>
    .mat-column-operation {
        max-width: 120px;
    }
</style>

<util-toolbar>
    <util-layout>
        <util-textbox model="queryParam.keyword" placeholder="搜索" on-change="search()"></util-textbox>
    </util-layout>
    <util-layout>
        <util-a styles="Icon" tooltip="添加<%=Description%>" link="create">
            <util-icon font-awesome-icon="Plus"></util-icon>
        </util-a>
        <util-button styles="Icon" tooltip="批量删除" on-click="delete()">
            <util-icon material-icon="Delete"></util-icon>
        </util-button>
        <util-button styles="Icon" tooltip="刷新" on-click="refresh()">
            <util-icon material-icon="Sync"></util-icon>
        </util-button>
    </util-layout>
</util-toolbar>

<util-table id="table_<%=SafeClassName%>" max-height="700" base-url="<%=CamelClassName%>" query-param="queryParam" <% if( Entity.Properties.Any( t => t.ColumnName == "CreationTime" ) ) { %>sort="CreationTime" sort-direction="Desc"<% } %>>
    <util-table-column type="Checkbox"></util-table-column>
    <util-table-column type="LineNumber"></util-table-column>
    <% foreach(Property p in Entity.Properties) { %>
    <% if( p.IsPrimaryKey.SafeValue() ) continue; %>
    <% if( Entity.IsHidden(p) ) continue; %>
    <util-table-column for="<%= p.PropertyName.ToSafeName() %>" sort="true"></util-table-column>
    <% } %>
    <util-table-column title="操作" column="operation">
        <util-table-cell>
            <util-a styles="Icon" tooltip="编辑" bind-link="['update',row.id]">
                <util-icon material-icon="Edit"></util-icon>
            </util-a>
            <util-button styles="Icon" menu-id="menu">
                <util-icon material-icon="More_Vert"></util-icon>
                <util-menu id="menu">
                    <util-menu-item label="删除" material-icon="Delete" on-click="delete(row.id)"></util-menu-item>
                    <util-menu-item label="详细" material-icon="Visibility" bind-link="['detail',row.id]"></util-menu-item>
                </util-menu>
            </util-button>
        </util-table-cell>
    </util-table-column>
</util-table>