<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>

<%@ Assembly Src="..\..\..\Common\Model.cs" %>
<%@ Assembly Src="..\..\..\Common\Extensions.cs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="SchemaMapper" %>

<%@ Property Name="Entity" Type="SchemaMapper.Entity"  %>
<%@ Property Name="Namespace" Type="System.String" %>
<%-- Safe类名 --%>
<% string SafeClassName = Entity.ClassName.ToSafeName(); %>
<%-- 描述 --%>
<% string Description = Entity.Description; %>
<%-- 驼峰形式类名 --%>
<% string CamelClassName = SafeClassName.ToCamelCase(); %>
@model <%=SafeClassName%>Dto

<util-toolbar color="Primary">
    <util-a styles="Icon" tooltip="添加<%=Description%>" link="create">
        <util-icon font-awesome-icon="Plus"></util-icon>
    </util-a>
    <util-button styles="Icon" tooltip="批量删除" on-click="delete()">
        <util-icon material-icon="Delete"></util-icon>        
    </util-button>
    <util-button styles="Icon" tooltip="刷新" on-click="refresh()">
        <util-icon material-icon="Sync"></util-icon>
    </util-button>
</util-toolbar>

<util-tree-table id="treeTable_<%=SafeClassName%>" base-url="<%=CamelClassName%>" query-param="queryParam">
    <% foreach(Property p in Entity.Properties) { %>
    <% if( p.IsPrimaryKey.SafeValue() ) continue; %>
    <% if( Entity.IsHidden(p) ) continue; %>
    <util-tree-table-column for="<%= p.PropertyName.ToSafeName() %>"></util-tree-table-column>
    <% } %>
    <util-tree-table-column title="操作">
        <util-a styles="Icon" tooltip="编辑" bind-link="['edit',row.data.id]">
            <util-icon material-icon="Edit"></util-icon>
        </util-a>
        <util-button styles="Icon" tooltip="删除" on-click="delete(row.data.id)">
            <util-icon material-icon="Delete"></util-icon>
        </util-button>
        <util-a styles="Icon" tooltip="查看详细" bind-link="['detail',row.data.id]">
            <util-icon material-icon="Visibility"></util-icon>
        </util-a>
    </util-tree-table-column>
</util-tree-table>