@*页头*@
<div class="navbar-header">
    <util-button styles="Icon" on-click="sidenav.toggle()" class="btn-toggle">
        <util-icon font-awesome-icon="Bars" ></util-icon>
    </util-button>

    <util-toolbar-fill-remain/>
    <util-list>
        <util-list-item>
            <span class="navbar-btn">
                <i class="fa fa-sign-out"></i> 退出
            </span>
        </util-list-item>
    </util-list>
</div>
@*面包屑导航*@
<div class="navbar-crumbs">
    <ul class="bread-crumb">
        <li>
            <a href="/"><i class="fa fa-home"></i></a>
        </li>
        <li>
            <a>栏目1</a>
        </li>
        <li>
            <a>栏目2</a>
        </li>
    </ul>
</div>