@model ApplicationDto
<style>
    .mat-expansion-panel {
        margin-bottom: 10px;
    }
</style>

<util-layout flex="70%" x-align="Center">
    <util-card>
        <util-card-header>
            <util-icon font-awesome-icon="AddressCardO" style="margin-right: 10px;"></util-icon>
            应用程序
        </util-card-header>
        <util-card-content class="form-content form-list-content">
            <util-layout flex="100%">
                <label asp-for="Code"></label>: <util-label for="Code" />
            </util-layout>
            <util-layout flex="100%">
                <label asp-for="Name"></label>: <util-label for="Name" />
            </util-layout>
            <util-layout flex="100%">
                <label asp-for="Comment"></label>: <util-label for="Comment" />
            </util-layout>
            <util-layout flex="100%">
                <label asp-for="Enabled"></label>: <util-label for="Enabled" />
            </util-layout>
            <util-layout flex="100%">
                <label asp-for="RegisterEnabled"></label>: <util-label for="RegisterEnabled" />
            </util-layout>
        </util-card-content>
        <util-card-actions align="Right">
            <util-button text="返回" styles="Default" on-click="back()"></util-button>
        </util-card-actions>
    </util-card>
</util-layout>
<util-layout flex="70%" x-align="Center">
    <util-card>
        <util-card-header>
            <util-icon font-awesome-icon="Spinner" spin="true" style="margin-right: 10px;"></util-icon>
            应用程序详情
        </util-card-header>
        <util-card-content>
            <util-list>
                <util-list-item>
                    <label asp-for="Code"></label>
                    {{model.code}}
                </util-list-item>
                <util-divider />
                <util-list-item>
                    <label asp-for="Name"></label>
                    {{model.name}}
                </util-list-item>
                <util-divider />
                <util-list-item>
                    <label asp-for="Comment"></label>
                    {{model.comment}}
                </util-list-item>
                <util-divider />
                <util-list-item>
                    <label asp-for="RegisterEnabled"></label>
                    {{model.registerEnabled}}
                </util-list-item>
                <util-divider />
            </util-list>
        </util-card-content>
        <util-card-actions align="Right">
            <util-button text="返回" styles="Default" on-click="back()"></util-button>
        </util-card-actions>
    </util-card>
</util-layout>
<util-layout flex="70%" x-align="Center">
    <util-accordion>
        <util-panel expanded="true">
            <util-panel-header>
                应用程序详情
            </util-panel-header>
            <util-panel-content>
                <util-list>
                    <util-list-item>
                        <label asp-for="Code"></label>
                        {{model.code}}
                    </util-list-item>
                    <util-divider />
                    <util-list-item>
                        <label asp-for="Name"></label>
                        {{model.name}}
                    </util-list-item>
                    <util-divider />
                    <util-list-item>
                        <label asp-for="Comment"></label>
                        {{model.comment}}
                    </util-list-item>
                    <util-divider />
                    <util-list-item>
                        <label asp-for="RegisterEnabled"></label>
                        {{model.registerEnabled}}
                    </util-list-item>
                    <util-divider />
                </util-list>
            </util-panel-content>
        </util-panel>
    </util-accordion>
</util-layout>
<util-layout flex="70%" x-align="Center">
    <util-card>
        <util-card-header>
            应用程序详情
        </util-card-header>
        <util-card-content class="form-content form-list-content">
            <util-layout flex="100%" direction="Row">
                <util-layout-item flex="50%">
                    <label asp-for="Code"></label>
                    {{model.code}}
                </util-layout-item>
                <util-layout-item flex="50%">
                    <label asp-for="Name"></label>
                    {{model.name}}
                </util-layout-item>
            </util-layout>
            <util-layout flex="100%" direction="Row">
                <util-layout-item flex="50%">
                    <label asp-for="Comment"></label>
                    {{model.comment}}
                </util-layout-item>
                <util-layout-item flex="50%">
                    <label asp-for="Enabled"></label>
                    {{model.enabled}}
                </util-layout-item>
            </util-layout>
            <util-layout flex="100%">
                <label asp-for="RegisterEnabled"></label>
                {{model.registerEnabled}}
            </util-layout>
        </util-card-content>
        <util-card-actions align="Right">
            <util-button text="返回" styles="Default" on-click="back()"></util-button>
        </util-card-actions>
    </util-card>
</util-layout>
<util-layout gap="20px">
    <util-layout-item flex="66.6%">
        <util-card>
            <util-card-header>
                应用程序详情
            </util-card-header>
            <util-card-content class="form-content form-list-content">
                <util-layout flex="100%">
                    <label asp-for="Code"></label>
                    {{model.code}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Name"></label>
                    {{model.name}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Comment"></label>
                    {{model.comment}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Enabled"></label>
                    {{model.enabled}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="RegisterEnabled"></label>
                    {{model.registerEnabled}}
                </util-layout>
            </util-card-content>
            <util-card-actions align="Right">
                <util-button text="返回" styles="Default" on-click="back()"></util-button>
            </util-card-actions>
        </util-card>
    </util-layout-item>
    <util-layout-item flex="33.3%">
        <util-card>
            <util-card-header>
                时间轴
            </util-card-header>
            <util-card-content class="form-timeline">
                <util-layout class="form-timeline-sucess">
                    <util-layout-item flex="25%">
                        <span>2018/01/01</span>
                        <util-icon font-awesome-icon="BirthdayCake"></util-icon>
                    </util-layout-item>
                    <util-layout-item flex="75%">
                        <span>2018年的第一天</span>
                        <span>2018年的第一天,2018年的第一天2018年的第一天,2018年的第一天</span>
                    </util-layout-item>
                </util-layout>
                <util-layout class="form-timeline-warning">
                    <util-layout-item flex="25%">
                        <span>2018/02/01</span>
                        <util-icon font-awesome-icon="LifeRing"></util-icon>
                    </util-layout-item>
                    <util-layout-item flex="75%">
                        <span>2018年的第一天</span>
                        <span>2018年的第一天,2018年的第一天2018年的第一天,2018年的第一天</span>
                    </util-layout-item>
                </util-layout>
            </util-card-content>
        </util-card>
    </util-layout-item>
</util-layout>
<util-layout gap="20px">
    <util-layout-item>
        <util-card>
            <util-card-header>
                应用程序详情
            </util-card-header>
            <util-card-content class="form-content form-list-content">
                <util-layout flex="100%">
                    <label asp-for="Code"></label>
                    {{model.code}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Name"></label>
                    {{model.name}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Comment"></label>
                    {{model.comment}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Enabled"></label>
                    {{model.enabled}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="RegisterEnabled"></label>
                    {{model.registerEnabled}}
                </util-layout>
            </util-card-content>
            <util-card-actions align="Right">
                <util-button text="返回" styles="Default" on-click="back()"></util-button>
            </util-card-actions>
        </util-card>
    </util-layout-item>
    <util-layout-item>
        <util-card>
            <util-card-header>
                应用程序详情
            </util-card-header>
            <util-card-content class="form-content form-list-content">
                <util-layout flex="100%">
                    <label asp-for="Code"></label>
                    {{model.code}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Name"></label>
                    {{model.name}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Comment"></label>
                    {{model.comment}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Enabled"></label>
                    {{model.enabled}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="RegisterEnabled"></label>
                    {{model.registerEnabled}}
                </util-layout>
            </util-card-content>
            <util-card-actions align="Right">
                <util-button text="返回" styles="Default" on-click="back()"></util-button>
            </util-card-actions>
        </util-card>
    </util-layout-item>
    <util-layout-item>
        <util-card>
            <util-card-header>
                应用程序详情
            </util-card-header>
            <util-card-content class="form-content form-list-content">
                <util-layout flex="100%">
                    <label asp-for="Code"></label>
                    {{model.code}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Name"></label>
                    {{model.name}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Comment"></label>
                    {{model.comment}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Enabled"></label>
                    {{model.enabled}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="RegisterEnabled"></label>
                    {{model.registerEnabled}}
                </util-layout>
            </util-card-content>
            <util-card-actions align="Right">
                <util-button text="返回" styles="Default" on-click="back()"></util-button>
            </util-card-actions>
        </util-card>
    </util-layout-item>
</util-layout>
<util-layout gap="20px">
    <util-layout-item>
        <util-card>
            <util-card-header>
                应用程序详情
            </util-card-header>
            <util-card-content class="form-content form-list-content">
                <util-layout flex="100%">
                    <label asp-for="Code"></label>
                    {{model.code}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Name"></label>
                    {{model.name}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Comment"></label>
                    {{model.comment}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Enabled"></label>
                    {{model.enabled}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="RegisterEnabled"></label>
                    {{model.registerEnabled}}
                </util-layout>
            </util-card-content>
            <util-card-actions align="Right">
                <util-button text="返回" styles="Default" on-click="back()"></util-button>
            </util-card-actions>
        </util-card>
    </util-layout-item>
    <util-layout-item>
        <util-card>
            <util-card-header>
                应用程序详情
            </util-card-header>
            <util-card-content class="form-content form-list-content">
                <util-layout flex="100%">
                    <label asp-for="Code"></label>
                    {{model.code}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Name"></label>
                    {{model.name}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Comment"></label>
                    {{model.comment}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Enabled"></label>
                    {{model.enabled}}
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="RegisterEnabled"></label>
                    {{model.registerEnabled}}
                </util-layout>
            </util-card-content>
            <util-card-actions align="Right">
                <util-button text="返回" styles="Default" on-click="back()"></util-button>
            </util-card-actions>
        </util-card>
    </util-layout-item>
</util-layout>
