/bin
/src/Util/obj
/test/Util.Tests/obj
/.vs
obj/
bin/
BenchmarkDotNet.Artifacts/
/output
/template/CodeSmith/CodeGenerator/02-Result
/sample/Util.Samples.Webs.AntDesign.Angular/node_modules
/sample/Util.Samples.Webs.AntDesign.Angular/wwwroot/dist
/sample/Util.Samples.Webs.AntDesign.Angular/yarn.lock
/sample/Util.Samples.Webs.AntDesign.Angular/package-lock.json
*.user
*.log
/sample/Util.Samples.Angular.AntDesign/node_modules
/sample/Util.Samples.Angular.AntDesign/wwwroot/dist
/sample/Util.Samples.Angular.AntDesign/yarn.lock
/sample/Util.Samples.Angular.Material/.vs
/sample/Util.Samples.Angular.Material/node_modules
/sample/Util.Samples.Angular.Material/wwwroot/upload
/sample/Util.Samples.Angular.Material/wwwroot/dist
/sample/Util.Samples.Angular.Material/yarn.lock
/sample/Util.Samples.Angular.Material/package-lock.json
/sample/Util.Samples.Angular.AntDesign/.vs
/sample/Util.Samples.Angular.Material/Typings/app/**/*.html
/sample/Util.Samples.Angular.AntDesign/Typings/app/**/*.html

/sample/Util.Samples.Angular.AntDesign/Typings/app/components/data-display/html
