/bin
/src/Util/obj
/test/Util.Tests/obj
/.vs
obj/
bin/
BenchmarkDotNet.Artifacts/
/output
/template/CodeSmith/CodeGenerator/02-Result

*.user
*.log
/sample/Util.Samples.AntDesign/node_modules
/sample/Util.Samples.AntDesign/wwwroot/dist
/sample/Util.Samples.AntDesign/yarn.lock
/sample/Util.Samples.AntDesign/package-lock.json
/sample/Util.Samples.AntDesign/.vs
/sample/Util.Samples.AntDesign/Typings/app/components/**/*.html
/sample/Util.Samples.AntDesign/Typings/app/demo/**/*.html
/sample/Util.Samples.AntDesign/Typings/app/home/dashboard/**/*.html
/sample/Util.Samples.AntDesign/Typings/app/home/html/*.html
/template/CodeSmith/.vs/CodeGenerator/v15
/template/CodeSmith/CodeGenerator/*.user
/template/CodeSmith/*.suo
