/bin
/src/Util/obj
/test/Util.Tests/obj
/.vs
obj/
bin/
BenchmarkDotNet.Artifacts/
/output
/template/CodeSmith/CodeGenerator/02-Result
/sample/Util.Samples.Webs/wwwroot/lib
/sample/Util.Samples.Webs/node_modules
/sample/Util.Samples.Webs/wwwroot/dist
/sample/Util.Samples.Webs/wwwroot/test
/sample/Util.Samples.Webs/yarn.lock
/sample/Util.Samples.Webs/.vs
/sample/Util.Samples.Webs/wwwroot/upload
/sample/Util.Samples.Webs/Typings/**/*.html
/sample/Util.Samples.Webs/yarn-error.log
