
<mat-toolbar>
    <div fxLayout="row">
        <mat-textbox-wrapper (onChange)="search()" placeholder="搜索" [(model)]="queryParam.keyword"></mat-textbox-wrapper>
    </div>
    <div fxLayout="row">
        <a mat-icon-button="" matTooltip="添加角色" routerLink="create">
            <i class="fa fa-plus"></i>
        </a>
        <mat-button-wrapper (onClick)="delete()" style="mat-icon-button" tooltip="批量删除"><ng-template>
            <mat-icon>delete</mat-icon>
        </ng-template></mat-button-wrapper>
        <mat-button-wrapper (onClick)="refresh()" style="mat-icon-button" tooltip="刷新"><ng-template>
            <mat-icon>sync</mat-icon>
        </ng-template></mat-button-wrapper>
    </div>
</mat-toolbar>

<p-tree-table #49570b90bc0b4ee38edb6e008f60f5e9="" baseUrl="role" key="49570b90bc0b4ee38edb6e008f60f5e9" selectionMode="single" [queryParam]="queryParam">
    <p-column field="code" header="角色编码"></p-column>
    <p-column field="name" header="角色名称"></p-column>
    <p-column field="comment" header="备注"></p-column>
</p-tree-table>
