<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>

<%@ Assembly Src="..\..\..\Common\Model.cs" %>
<%@ Assembly Src="..\..\..\Common\Extensions.cs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="SchemaMapper" %>

<%@ Property Name="EntityContext" Type="SchemaMapper.EntityContext"  %>
<%@ Property Name="Entity" Type="SchemaMapper.Entity"  %>
<%@ Property Name="Namespace" Type="System.String" %>
<%-- Safe类名 --%>
<% string SafeClassName = Entity.ClassName.ToSafeName(); %>
<%-- 描述 --%>
<% string Description = Entity.Description; %>
<%-- 驼峰形式类名 --%>
<% string CamelClassName = SafeClassName.ToCamelCase(); %>
import { NgModule } from '@angular/core';
import { RouterModule, Routes } from '@angular/router';
<% foreach(Entity entity in EntityContext.Entities) {%>
import { <%= entity.ClassName.ToSafeName() %>IndexComponent } from './<%= entity.ClassName.ToSafeName().ToCamelCase() %>/<%= entity.ClassName.ToSafeName().ToCamelCase() %>-index.component';
import { <%= entity.ClassName.ToSafeName() %>EditComponent } from './<%= entity.ClassName.ToSafeName().ToCamelCase() %>/<%= entity.ClassName.ToSafeName().ToCamelCase() %>-edit.component';
import { <%= entity.ClassName.ToSafeName() %>DetailComponent } from './<%= entity.ClassName.ToSafeName().ToCamelCase() %>/<%= entity.ClassName.ToSafeName().ToCamelCase() %>-detail.component';
<%} %>

//路由配置
const routes: Routes = [
    {
        path: '',
        children: [
        <% foreach(Entity entity in EntityContext.Entities) {%>
            {path: '<%= entity.ClassName.ToSafeName().ToCamelCase() %>', children: [
                { path: '', component: <%= entity.ClassName.ToSafeName() %>IndexComponent },
                { path: 'create', component: <%= entity.ClassName.ToSafeName() %>EditComponent },
                { path: 'update/:id', component: <%= entity.ClassName.ToSafeName() %>EditComponent },
                { path: 'detail/:id', component: <%= entity.ClassName.ToSafeName() %>DetailComponent }
            ]},
        <%} %>
        ]
    }
];

/**
 * <%=Namespace%>路由模块
 */
@NgModule({
    imports: [RouterModule.forChild(routes)]
})
export class <%=Entity.TableSchema.ToSingular()%>RoutingModule { }