@model ApplicationQuery
@*查询表单*@
<util-form layout="Inline" class="search__form" show-label="true">
    <util-row gutter="32" auto-create-column="true" column-span="8">
        <util-textbox for="Code"></util-textbox>
        <util-textbox for="Name"></util-textbox>
        <util-column ng-if="expand">
            <util-textbox for="Comment"></util-textbox>
        </util-column>
        <util-column ng-if="expand">
            <util-textbox for="Name"></util-textbox>
        </util-column>
        <util-column ng-if="expand">
            <util-textbox for="Name"></util-textbox>
        </util-column>
        <util-column [class.text-right]="expand">
            <util-button id="btnQuery" text="查询" color="Primary" icon="Search" on-click="query(btnQuery)"></util-button>
            <util-button class="mx-sm" id="btnRefresh" text="刷新" icon="Sync" on-click="refresh(btnRefresh)"></util-button>
            <a (click)="expand=!expand">
                <i nz-icon nzType="anticon" [class.anticon-down]="!expand" [class.anticon-up]="expand"></i>
            </a>
        </util-column>
    </util-row>
</util-form>
