@page
@model ApplicationDto
<page-header [title]="'查询表格'"></page-header>
<nz-card [nzBordered]="false">
    @*查询表单*@
    @await Html.PartialAsync( "TableList/QueryForm" )
    <util-button color="Primary" text="新建">
        <util-icon type="Plus"></util-icon>
    </util-button>
    <util-button id="btnDelete" color="Primary" text="删除" on-click="delete(btnDelete)">
        <util-icon type="Delete"></util-icon>
    </util-button>

    <div class="my-md">
        <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
            <ng-template #message>
                说明
                <strong class="text-primary">重点</strong>
            </ng-template>
        </nz-alert>
    </div>
    @*表格*@
    <util-table id="tableApplication" query-param="queryParam" base-url="application" sort="CreationTime desc">
        <util-table-column type="Checkbox"></util-table-column>
        <util-table-column type="LineNumber"></util-table-column>
        <util-table-column for="Code"></util-table-column>
        <util-table-column for="Name" sort="true"></util-table-column>
        <util-table-column for="Enabled">
            <util-icon type="Check"></util-icon>
        </util-table-column>
        <util-table-column for="RegisterEnabled"></util-table-column>
        <util-table-column for="CreationTime"></util-table-column>
    </util-table>
</nz-card>

