<footer class="footer">
    <div fxLayout="row" class="footer-copyright">
        <span>Copyright 2017</span>
        <span fxFlex style="flex: 1 1 1e-09px; box-sizing: border-box;"></span>
        <span>Design by <a href="#" target="blank">Util</a></span>
    </div>
</footer>