<div class="sidenav-container" fxLayout="column">
    <div class="sidenav-scrollbar-container" fxLayout="column">
        <perfect-scrollbar>
            <mat-nav-list fxLayout="column" class="sidenav-list sidenav-toplevel">
                @*<sidenav-item _ngcontent-c6></sidenav-item>*@
                <sidenav-item _ngcontent-c6 *ngFor="let item of items" [item]="item"></sidenav-item>
            </mat-nav-list>
        </perfect-scrollbar>
    </div>

    <div class="sidenav-footer" fxLayout="row">
        <a fxFlex="100" mat-button href="https://github.com/stbui/angular-material-app/issues" target="_blank">
            <mat-icon style="font-size: 20px;">help</mat-icon>
            帮助与支持
        </a>
    </div>
</div>
