<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>

<%@ Assembly Src="..\..\..\Common\Model.cs" %>
<%@ Assembly Src="..\..\..\Common\Extensions.cs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="SchemaMapper" %>

<%@ Property Name="Entity" Type="SchemaMapper.Entity"  %>
<%@ Property Name="Namespace" Type="System.String"  %>
<%@ Property Name="UnitOfWork" Type="System.String"  %>
<%@ Property Name="IUnitOfWorkNamespace" Type="System.String"  %>
<%-- Safe类名 --%>
<% string SafeClassName = Entity.ClassName.ToSafeName(); %>
<%-- 描述 --%>
<% string Description = Entity.Description; %>
using Util.Datas.Ef.Core;
using <%= Entity.GetNamespace(Namespace,"Domain","Models") %>;
using <%= Entity.GetNamespace(Namespace,"Domain","Repositories") %>;
using <%= Namespace %>.Data.Pos.<%= Entity.TableSchema %>;
using <%= Namespace %>.Data.Stores.Abstractions.<%= Entity.TableSchema %>;
using <%= Namespace %>.Data.Pos.<%= Entity.TableSchema %>.Extensions;

namespace <%=Namespace%>.Data.Repositories.<%=Entity.TableSchema%> {
    /// <summary>
    /// <%= Description %>仓储
    /// </summary>
    public class <%= SafeClassName %>Repository : CompactRepositoryBase<<%= SafeClassName %>,<%= SafeClassName %>Po<%= Entity.GetKeyTypeNoContainsGuid() %>>, I<%= SafeClassName %>Repository {
        /// <summary>
        /// 初始化<%= Description %>仓储
        /// </summary>
        /// <param name="store"><%= Description %>存储器</param>
        public <%= SafeClassName %>Repository( I<%= SafeClassName %>PoStore store ) : base( store ) {
        }
        
        /// <summary>
        /// 转成实体
        /// </summary>
        /// <param name="po">持久化对象</param>
        protected override <%= SafeClassName %> ToEntity( <%= SafeClassName %>Po po ) {
            return po.ToEntity();
        }

        /// <summary>
        /// 转成持久化对象
        /// </summary>
        /// <param name="entity">实体</param>
        protected override <%= SafeClassName %>Po ToPo( <%= SafeClassName %> entity ) {
            return entity.ToPo();
        }
    }
}