<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>

<%@ Assembly Src="..\..\..\Common\Model.cs" %>
<%@ Assembly Src="..\..\..\Common\Extensions.cs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="SchemaMapper" %>

<%@ Property Name="Entity" Type="SchemaMapper.Entity"  %>
<%@ Property Name="Namespace" Type="System.String"  %>
<%@ Property Name="UnitOfWork" Type="System.String"  %>
<%@ Property Name="IUnitOfWorkNamespace" Type="System.String"  %>
<%-- Safe类名 --%>
<% string SafeClassName = Entity.ClassName.ToSafeName(); %>
<%-- 描述 --%>
<% string Description = Entity.Description; %>
using Util.Datas.Ef.Core;
using <%= Namespace %>.Data.Pos.<%= Entity.TableSchema %>;
using <%= Namespace %>.Data.Stores.Abstractions.<%= Entity.TableSchema %>;

namespace <%= Namespace %>.Data.Stores.Implements.<%= Entity.TableSchema %>{
    /// <summary>
    /// <%= Description %>存储器
    /// </summary>
    public class <%= SafeClassName %>PoStore : StoreBase<<%= SafeClassName %>Po<%= Entity.GetKeyTypeNoContainsGuid() %>>, I<%= SafeClassName %>PoStore {
        /// <summary>
        /// 初始化<%= Description %>存储器
        /// </summary>
        /// <param name="unitOfWork">工作单元</param>
        public <%= SafeClassName %>PoStore( I<%= UnitOfWork %> unitOfWork ) : base( unitOfWork ) {
        }
    }
}