<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/dist/vendor.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="/dist/app.css" asp-append-version="true">
</head>
<body>
    @RenderBody()
    <script src="/dist/vendor.js" asp-append-version="true"></script>
    <script src="/dist/util.js" asp-append-version="true"></script>
    <script src="/dist/app.js" asp-append-version="true"></script>
    @RenderSection( "Scripts", required: false )
</body>
</html>
