@model RoleDto
<util-layout flex="70%" x-align="Center">
    <util-card>
        <util-card-header>
            <util-icon font-awesome-icon="AddressCardO" style="margin-right: 10px;"></util-icon>
            角色
        </util-card-header>
        <util-card-content class="form-content form-list-content">
                <util-layout flex="100%">
                    <label asp-for="Code"></label>: <util-label for="Code"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Name"></label>: <util-label for="Name"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="IsAdmin"></label>: <util-label for="IsAdmin"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Enabled"></label>: <util-label for="Enabled"/>
                </util-layout>
                <util-layout flex="100%">
                    <label asp-for="Comment"></label>: <util-label for="Comment"/>
                </util-layout>
        </util-card-content>
        <util-card-actions align="Right">
            <util-button text="返回" styles="Default" on-click="back()"></util-button>
        </util-card-actions>
    </util-card>
</util-layout>