.footer {
    background: #607d8b;
    color: #80CBC4;
    line-height: 36px;
    padding: 0 20px;
    font-size: 12px;

    .footer-copyright {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
    }

    a {
        color: #80CBC4;
        cursor: pointer;
    }
}
