.loading > .background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2B303B;
    z-index: 100;
}

.loading > .background > .wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%)
}

.logo {
    width: 96px;
    height: 96px;
    line-height: 96px;
    margin: 10px auto;
    background: #3F51B5;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, .22)
}

.logo > span {
    display: inline-block;
    color: #fff;
    font-size: 56px;
    animation: rotate 1.5s infinite linear
}

.info {
    color: rgba(255, 255, 255, .4);
    text-align: center
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}
