
:host {
    display: block;
    height: calc(100% - 64px);
}

mat-toolbar.mat-toolbar.sidenav-toolbar {
    z-index: 3;
}

.sidenav-container, .sidenav-scrollbar-container {
    height: 100%;
}

.cdk-focus-trap-content, mat-sidenav {
    overflow-y: hidden !important;
    overflow-x: hidden;
}

.sidenav-footer {
    border-top: 1px solid rgba(0, 0, 0, .1);

    a {
        background-color: rgba(0, 0, 0, .12);
        color: rgba(255, 255, 255, .8)
    }
}
