mat-card {
    margin-bottom: 15px;
}
mat-card-actions {
    > mat-button-wrapper {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}
.mat-accordion {
    .mat-expansion-panel-spacing {
        &:last-child {
            margin-bottom: 15px !important;
        }
    }
}

.mat-list {
    .mat-list-item {
        .mat-list-item-content {
            > label {
                width: 120px;
                text-align: right;
                margin-right: 40px;
                font-size: 14px;
            }
        }
    }
}
.mat-list-item.active{
    background:#eee;
}