
.navbar-header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background: $bgColor;
    border-bottom: 1px solid #e7eaec;

    .mat-list {
        padding-bottom: 3px;
    }
}

.navbar-btn {
    font-size: 14px;
    color: #ffffff;
    padding: 10px 10px;
    cursor: pointer;
    font-weight: 600;

    i {
        font-size: 14px;
    }
}

.btn-toggle {
    button {
        height:30px;
        line-height:30px;
        border-radius: 3px;
        margin: 5px 5px 5px 20px;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #ffffff;
        border-color: #ffffff;
        color: $bgColor;
        span{
            i{
                font-size:20px;
            }
        }
    }
}

.navbar-crumbs {
    display: flex;
    background: #ffffff;
    border: 0;
    border-bottom: 1px solid #e7eaec;
    box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.14);

    .bread-crumb {
        padding-left: 20px;
        margin: 8px 0;

        li {
            list-style: none;
            display: inline-flex;

            a {
                color: inherit;
                text-decoration: none;
                font-size: 14px;

                i {
                    font-size: 20px;
                    color: #444;

                    span {
                        font-size: 14px;
                    }
                }
            }
        }

        li + li:before {
            padding: 0 10px;
            color: #a19f9f;
            content: "/\00a0";
        }
    }
}
