mat-sidenav {
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;

    .sidenav-logo {
        height: 60px;
        line-height: 60px;
        text-align: center;
        background: #439c33;
        font-size: 30px;
        color: #fff;

        i {
            font-size: 30px;
        }
    }

    .mat-nav-list {
        padding-top: 0;

        .mat-list-item {
            color: #000000;

            &.active {
                border: 2px solid #5db54d;
                border-radius: 5px;
            }
        }
    }

    .mat-expanded {
        background: rgba(0, 0, 0, 0.02);

        .mat-expansion-panel {
            background-color: #ffffff;
            color: #000000;
        }

        .mat-expansion-panel-header, .mat-expansion-panel-body {
            .mat-icon {
                color: rgba(0, 0, 0, 0.54);
            }
        }

        span .mat-expansion-indicator::after {
            color: #000000;
        }

        .mat-expansion-panel-body {
            padding: 0 5px;

            .mat-nav-list .mat-list-item {
                color: #000000;

                .mat-list-item-content {
                    padding: 0 0 0 25px;
                }
            }
        }
    }

    .mat-expansion-panel-header-title {
        .mat-icon.material-icons {
            color: rgba(0, 0, 0, 0.54);
        }
    }
}
