<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>

<%@ Assembly Src="..\..\Common\Model.cs" %>
<%@ Assembly Src="..\..\Common\Extensions.cs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="SchemaMapper" %>

<%@ Property Name="Entity" Type="SchemaMapper.Entity"  %>
<%@ Property Name="Namespace" Type="System.String" %>
<%-- Safe类名 --%>
<% string SafeClassName = Entity.ClassName.ToSafeName(); %>
<%-- 描述 --%>
<% string Description = Entity.Description; %>
using System;
using System.Collections.Generic;
using Xunit;
using <%= string.Format("{0}.Service.Dtos.{1}",Namespace,Entity.TableSchema) %>;
using <%= string.Format("{0}.Test.Models.{1}",Namespace,Entity.TableSchema) %>;

namespace <%= string.Format("{0}.Test.Integration.Dtos.{1}",Namespace,Entity.TableSchema) %> {
    /// <summary>
    /// <%= Description %>数据传输对象测试
    /// </summary>
    public class <%= SafeClassName %>DtoTest {
        /// <summary>
        /// 创建<%= Description %>数据传输对象
        /// </summary>
        public static <%= SafeClassName %>Dto Create(string id = "") {
            return <%= SafeClassName %>Test.Create(id).ToDto(); 
        }
        
        /// <summary>
        /// 创建<%= Description %>数据传输对象2
        /// </summary>
        /// <param name="id"><%= Description %>编号</param>
        public static <%= SafeClassName %>Dto Create2( string id = "" ) {
            return <%= SafeClassName %>Test.Create2( id ).ToDto(); 
        }
        
        /// <summary>
        /// 创建<%= Description %>数据传输对象列表
        /// </summary>
        public static List<<%= SafeClassName %>Dto> CreateList() {
            return new List<<%= SafeClassName %>Dto>() {
                Create(),
                Create2()
            };
        }
        
        /// <summary>
        /// 转换为数据传输对象
        /// </summary>
        [Fact]
        public void TestToDto() {
            var dto = Create();
        <% foreach(Property p in Entity.Properties) { %>
        <% if( p.IsPrimaryKey.SafeValue() ) { %>
            Assert.Equal( <%= SafeClassName %>Test.Id<%= Entity.GetToDtoConvert() %>,dto.Id );
        <% continue;}%>
            Assert.Equal( <%= SafeClassName %>Test.<%= p.ColumnName %>,dto.<%= p.ColumnName %> );
        <% }%>
        }
        
        /// <summary>
        /// 转换为实体
        /// </summary>
        [Fact]
        public void TestToEntity() {
            var entity = Create().ToEntity();
        <% foreach(Property p in Entity.Properties) { %>
        <% if( p.IsPrimaryKey.SafeValue() ) { %>
            Assert.Equal( <%= SafeClassName %>Test.Id,entity.Id );
        <% continue;}%>
            Assert.Equal( <%= SafeClassName %>Test.<%= p.ColumnName %>,entity.<%= p.ColumnName %> );
        <% }%>
        }
    }
}