//导入变量
@import "base/variables";

//导入基础样式
@import "base/base";

//导入组件样式
@import "base/component";

//导入primeNg组件样式
@import "prime/theme";

//导入主界面布局样式
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/footer';