//Hover State
$stateHoverBgColor: #eeeeee;
$stateHoverTextColor: #212121;


.ui-treetable {
    .ui-treetable-row.ui-treetable-row-selectable:not(.ui-state-highlight):hover {
        background: $stateHoverBgColor;
        color: $stateHoverTextColor;
    }

    .ui-state-highlight {
        background-color: #fafafa;
    }
}

.ui-treetable {
    tr.ui-state-default {
        border-top: 0;
        height: 57px;

        th.ui-state-default {
            background: #ffffff;
            border-color: #d9d9d9;
            font-size: 12px;
            color: rgba(0,0,0,.54);
        }
    }

    .ui-state-highlight a{
        color:#000000;
    }
}

.ui-treetable {
    position: relative;
}

.ui-treetable table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.ui-treetable .ui-treetable-header,
.ui-treetable .ui-treetable-footer {
    text-align: center;
    padding: .5em .75em;
}

.ui-treetable .ui-treetable-header {
    border-bottom: 0 none;
}

.ui-treetable .ui-treetable-footer {
    border-top: 0 none;
}

.ui-treetable th, .ui-treetable tfoot td {
    text-align: left;
}

.ui-treetable thead th,
.ui-treetable tbody td,
.ui-treetable tfoot td {
    padding: 0 24px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    border-bottom-width: 1px;
    border-style: solid;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: rgba(0,0,0,.87);
}

.ui-treetable tbody td {
    border-color: rgba(0,0,0,.12);
    mat-checkbox{
        margin-right:10px;
    }
}

.ui-treetable tbody td:first-child span {
    vertical-align: middle;
}

.ui-treetable .ui-treetable-toggler {
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

.ui-treetable .ui-treetable-checkbox {
    margin-right: .5em;
}

.ui-treetable .ui-treetable-checkbox .ui-chkbox-icon {
    margin-left: 1px;
}

.ui-treetable .ui-treetable-row.ui-treetable-row-selectable {
    cursor: pointer;
}

.ui-treetable .ui-treetable-row.ui-state-highlight {
    border: 0 none;
}

.ui-treetable tr.ui-state-hover {
    border-color: inherit;
    font-weight: inherit;
}

.ui-treetable .ui-treetable-indent {
    width: 1em;
    height: 1em;
    float: left;
}

/* Resizable */
.ui-treetable .ui-column-resizer {
    display: block;
    position: absolute !important;
    top: 0;
    right: 0;
    margin: 0;
    width: .5em;
    height: 100%;
    padding: 0px;
    cursor: col-resize;
    border: 1px solid transparent;
}

.ui-treetable .ui-column-resizer-helper {
    width: 1px;
    position: absolute;
    z-index: 10;
    display: none;
}

.ui-treetable-resizable {
    padding-bottom: 1px;
    overflow: auto;
}

.ui-treetable-resizable thead th,
.ui-treetable-resizable tbody td,
.ui-treetable-resizable tfoot td {
    white-space: nowrap;
}

.ui-treetable-resizable th.ui-resizable-column {
    background-clip: padding-box;
    position: relative;
}

.ui-treetable td.ui-treetable-child-table-container {
    padding: 0;
    border: 0 none;
}

.ui-treetable .ui-treetable-row {
    display: table-row;
    border-bottom: 0 transparent
}

.ui-treetable tbody .ui-treetable-row td input {
    outline: 0 none;
}

/*主复选框样式*/
.ui-treetable .master-checkbox{
    margin-right:12px;
}