<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>

<%@ Assembly Src="..\..\..\Common\Model.cs" %>
<%@ Assembly Src="..\..\..\Common\Extensions.cs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="SchemaMapper" %>

<%@ Property Name="EntityContext" Type="SchemaMapper.EntityContext"  %>
<%@ Property Name="DbName" Type="System.String"  %>
<%@ Property Name="Namespace" Type="System.String"  %>
<%@ Property Name="UnitOfWork" Type="System.String"  %>
<%@ Property Name="IUnitOfWorkNamespace" Type="System.String"  %>
using Microsoft.EntityFrameworkCore;
using Util.Datas.UnitOfWorks;

namespace <%= Namespace %>.Data.UnitOfWorks.SqlServer {
    /// <summary>
    /// 工作单元
    /// </summary>
    public class <%= UnitOfWork %> : Util.Datas.Ef.SqlServer.UnitOfWork,I<%= UnitOfWork %> {
        /// <summary>
        /// 初始化工作单元
        /// </summary>
        /// <param name="options">配置项</param>
        /// <param name="unitOfWorkManager">工作单元服务</param>
        public <%= UnitOfWork %>( DbContextOptions options, IUnitOfWorkManager unitOfWorkManager ) : base( options, unitOfWorkManager ) {
        }
    }
}