<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>

<%@ Assembly Src="..\..\..\Common\Model.cs" %>
<%@ Assembly Src="..\..\..\Common\Extensions.cs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="SchemaMapper" %>

<%@ Property Name="Namespace" Type="System.String" %>
<%@ Property Name="Entity" Type="SchemaMapper.Entity"  %>
<%@ Property Name="Schema" Type="System.String"  %>
<%-- Safe类名 --%>
<% string SafeClassName = Entity.ClassName.ToSafeName(); %>
<%-- 描述 --%>
<% string Description = Entity.Description; %>
using Microsoft.AspNetCore.Mvc;
using Util.Ui.Controllers;

namespace <%= Namespace %>.Areas.<%= Schema %>.Controllers {
    /// <summary>
    /// <%= Description %>控制器
    /// </summary>
    [Area( "<%= Schema %>" )]
    public class <%= SafeClassName %>Controller : ViewControllerBase {        
        /// <summary>
        /// 首页
        /// </summary>
        public IActionResult Index() {
            return View();
        }
        
        /// <summary>
        /// 编辑
        /// </summary>
        public IActionResult Edit() {
            return View();
        }
        
        /// <summary>
        /// 详细
        /// </summary>
        public IActionResult Detail() {
            return View();
        }
    }
}