<quick-menu>
    <nz-list [nzBordered]="false" [nzSplit]="false">
        <nz-list-item>
            <a routerLink="/">Home</a>
        </nz-list-item>
        <nz-list-item>
            <a routerLink="/widgets">Widgets</a>
        </nz-list-item>
        <nz-list-item>
            <a routerLink="/style/typography">typography</a>
        </nz-list-item>
        <nz-list-item>
            <a routerLink="/style/gridmasonry">gridmasonry</a>
        </nz-list-item>
        <nz-list-item>
            <a routerLink="/pro/result/success">success result</a>
        </nz-list-item>
    </nz-list>
</quick-menu>