@page

<div class="alain-default__content-title">
    <h1>
        Util应用框架
        <small>基于Ng-Zorro,Viser,Ng-Alain等Ant Design开源生态构建，以Asp.Net Core TagHelper进行封装，打造简单易用,快捷高效的企业中后台应用框架</small>
    </h1>
</div>
@*卡片统计*@
@await Html.PartialAsync( "V1/CardStats" )
@*折线图*@
@await Html.PartialAsync( "V1/LineChart" )
@*柱状图*@
@await Html.PartialAsync( "V1/ColumnChart" )
@*条形图*@
@await Html.PartialAsync( "V1/BarChart" )
@*面积图*@
@await Html.PartialAsync( "V1/AreaChart" )
@*饼图*@
@await Html.PartialAsync( "V1/PieChart" )
@*列表*@
@await Html.PartialAsync( "V1/List" )