body, html, mat-sidenav-container {
    height: 100%;
}

body, html {
    min-height: 100%;
    line-height: normal;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0px;
}

$height__main-toolbar: 64px;

.sidenav {
    width: 250px;
    max-width: 250px;
    overflow-x: hidden;
    z-index: 4;
}

.sidenav-container {
    height: 100%
}

.main-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - #{$height__main-toolbar});
    position: relative;
    padding:20px 20px 0 20px;
}

.boxed {
    width: 1200px;
    height: 100%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}
