//mat表格复选框
.mat-column-selectCheckbox {
    max-width: 48px;
    overflow: initial !important;
}
.mat-cell, .mat-header-cell {
    overflow: initial !important;
}
//mat表格序号
.mat-column-lineNumber {
    max-width: 48px;
    justify-content: flex-end;
}
//mat表格行滑过样式
.mat-row-hover {
    position: relative;
    &:hover {
        background: #f5f5f5;
    }
    &:active {
        background: #eaeaea;
    }
}
//mat菜单font-awesome图标
.mat-menu-item .fa {
    vertical-align: middle;
    margin-right: 16px;
    font-size: 24px;
}
//mat选项卡font-awesome图标
.mat-tab-label .fa, .mat-tab-link .fa {
    font-size: 24px;
    margin-right: 3px;
}
//mat工具栏
.mat-toolbar .mat-icon {
    padding: 0 14px;
}
.toolbar-fill-remain {
    flex: 1 1 auto;
}
//修复表单组件宽度
.mat-form-field {
    width: 100%;
}
//修复自定义表单组件宽度
.util-form-field {
    width: 100%;
}
//重置栅格内容左对齐
.mat-grid-tile .mat-figure {
    justify-content:flex-start;
}