/*custom start by wang(自定义样式，后期待处理)*/
$color-blue: #fff;
$color-black: #607D8B;
/*当前风格颜色*/
$home-bg: #2c4360;
/*当前选中主题颜色*/
$home-active: #2c4360;
/*左侧导航背景色*/
$sidenav-bg: #44607f;
/*左侧二级导航背景色*/
$sidenav-item-bg: rgba(255, 255, 255, 0.2);
/*头部背景色*/
$sidenav-item-bg: rgba(255, 255, 255, 0.2);


.ui-background-blue {
    color: $color-blue;
}

.ui-background-blue, .ui-blue {
    background-color: $home-bg !important;
    display: block;
}

.ui-background-dark {
    color: hsla(0,0%,100%,.87);
    display: block;
    height: calc(100% - 64px);
}

.ui-background-dark, .ui-dark {
    background-color: $sidenav-bg !important;
}

.ui-background-white {
    color: rgba(0,0,0,.87);
}

.ui-background-white, .ui-white {
    background-color: $color-black !important;
    color:#fff;
}

ui-header {
    z-index: 4;
}

ui-toolbar-user {
    height: 100%;
}

.notice-header {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: center space-between !important;
    align-items: center !important;
}

.notice-template-div {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: center flex-start;
    align-items: center;
}

.notice-footer {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: center;
    align-items: center;
}

.user-ullist {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: center flex-start;
    align-items: center;
}

.sidenav-footer {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sidenav-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.mat-raised-button {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
}

.sidenav-footer a, .sidenav-footer button {
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 100%;
    /*background-color: rgba(0,0,0,.12);*/
    background-color: #353a48 !important;
    color: hsla(0,0%,100%,.8);
}

.main-toolbar {
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: center flex-start;
    align-items: center;
}

.mat-icon-button[_ngcontent-c7] {
    margin-right: 10px;
}

.toolbar-user-button-span {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: center flex-start;
    align-items: center;
}
.mat-nav-list .mat-list-item {
    color: hsla(0,0%,100%,.87);

    :hover {
        background: rgba(0, 0, 0, 0.4)
    }
}

.table-head-fixed {
    min-height: 49px;

    .mat-header-row {
        padding-right: 41px;

        .mat-header-cell{
            color:#000;
            font-weight:bold;
        }
    }
}
.search-menu {
    display: inline-block;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    width: 100%;
}

.layout-breadcrumb {
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.14);
    -moz-box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.14);
    box-shadow: inset 0 -2px 4px 0 rgba(0, 0, 0, 0.14);
    min-height: 42px;

    ul {
        margin: 8px 0 0 0;
        padding: 0 0 0 20px;
        list-style: none;
        color: #757575;
        display: inline-block;

        li {
            display: inline-block;
            vertical-align: middle;
            color: #757575;

            a {
                color: #757575;
            }
        }
    }
}