$color__inactive: #616161;
$color__primary: #3F51B5;
$color__read: #9F9F9F;
$color__checkbox__star: #616161;

$height__search__title: 56px;
$margin-top__search__title: 42px;

$prefix: 'search';
$search-height: 50px;
$search-background: #fff;

.#{$prefix} {
    background: $search-background;
    min-height: $search-height;
    max-height: $search-height;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    width: calc(100% - 300px);

    mat-icon {
        vertical-align: middle;
        margin-right: 14px;
        margin-left: 16px;
    }

    &-icon {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center;
        align-items: center;
    }
    input {
        border: 0;
        height: $search-height;
        outline: none;
        width:100%;
    }
}

.toolbar {
    box-sizing: border-box;
    min-height: 70px;
    max-height: 70px;
    border-bottom: 1px solid #EEE;
    padding: 8px 24px;
    color: $color__inactive;

    .chevrons {
        margin-left: 16px;
    }
}

.toolbar-detail {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: center flex-start;
    align-items: center;

    .icon-group {
        border-right: 1px solid #EEE;
    }

    .back {
        margin-left: -12px;
        margin-right: 12px;
    }

    .archive {
        margin-left: 12px;
        margin-right: 6px;
    }

    .spam {
        margin-left: 6px;
        margin-right: 6px;
    }

    .delete {
        margin-left: 6px;
        margin-right: 12px;
    }

    .move {
        margin-left: 12px;
        margin-right: 6px;
    }

    .label {
        margin-left: 6px;
        margin-right: 12px;
    }

    .options {
        margin-left: 12px;
        margin-right: 12px;
    }
}
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}