.sidenav-anchor {
    position: relative;
    cursor: pointer;
    transition: color .1s;
}

mat-nav-list a.sidenav-anchor {
    .sidenav-item-name {
        font-size: 14px;
        margin-left: 24px;
    }
}

.sidenav-list {
    transition: height .4s cubic-bezier(.35, 0, .25, 1);
    overflow: hidden;
}

sidenav-item {
    &.open {
        > .sidenav-anchor {
            &:before {
                content: " ";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 2px;
                z-index: 3;
            }

            .sidenav-item-dropdown-indicator {
                transform: rotate(180deg);
            }
        }
    }

    .sidenav-item-dropdown-indicator {
        transition: transform .25s;
    }
}

.badge {
    padding: 4px 8px;
    font-size: 12px;
    background: #2196F3;
    border-radius: 5px;
    color: #FFF;
}
.sidenav-list-nested {
    background: $sidenav-item-bg;
    color: hsla(0,0%,100%,.65);
    overflow:hidden;
}
.active{
    background:$home-active !important;
    color:#fff !important;
}