//font-awesome图标
.fa {
    font-size: 24px;
}

.fa-lg {
    font-size: 1.33333333em !important;
    line-height: 0.75em;
    vertical-align: -15%;
}

.fa-2x {
    font-size: 2em !important;
}

.fa-3x {
    font-size: 3em !important;
}

.fa-4x {
    font-size: 4em !important;
}

.fa-5x {
    font-size: 5em !important;
}
//mat表格复选框
.mat-column-selectCheckbox {
    max-width: 48px;
    overflow: initial !important;
}
//mat表格单选框
.mat-column-selectRadio {
    max-width: 48px;
    overflow: initial !important;
}

.mat-cell, .mat-header-cell {
    overflow: initial !important;
}
//mat表头
.mat-table.tableHeader {
    min-height: 60px;
    overflow: hidden;
}
//mat表格序号
.mat-column-lineNumber {
    max-width: 48px;
}
//mat表格行滑过样式
.mat-row-hover {
    position: relative;

    &:hover {
        background: #f5f5f5;
    }

    &:active {
        background: #eaeaea;
    }
}
//mat表格点击选中样式
.mat-row.selected {
    background: #f5f5f5;
}
//分页大小标签样式
.mat-paginator-page-size-label {
    width: 30px
}
//mat菜单font-awesome图标
.mat-menu-item .fa {
    vertical-align: middle;
    margin-right: 16px;
}
//mat选项卡font-awesome图标
.mat-tab-label .fa, .mat-tab-link .fa {
    margin-right: 3px;
}
//mat工具栏
.toolbar-fill-remain {
    flex: 1 1 auto;
}
//修复表单组件宽度
.mat-form-field {
    width: 100%;
}
//去除loading面板样式
.loading-panel {
    mat-dialog-container {
        background: none;
        box-shadow: none;
    }
    .mat-progress-spinner circle, .mat-spinner circle {
        stroke: #2f3e9d;
    }
}
