//表单内容区
.form-content {
    padding: 30px 50px 0 50px;
}
.form-list-content {
    padding: 30px 50px 0 50px;

    > div {
        > div {
            padding-bottom: 10px;
            border-bottom: 1px dashed rgba(0,0,0,.2);
        }
    }
}

.form-content .mt30 {
    margin-top: 30px;
    &:first-child {
        margin-top: 30px;
    }
}