.mat-toolbar-single-row {
    justify-content: space-between;
    mat-textbox-wrapper{
        font-size:14px;
    }
    .mat-input-infix.mat-form-field-infix {
        width: 300px;

    }
}
.mat-toolbar {
    &.mat-toolbar-single-row {
        margin-bottom: 10px;
    }
}