/*时间轴样式*/
.form-timeline {
    padding-top: 30px;

    > div {
        > div {
            padding: 6px;

            &:first-child {
                position: relative;
                border-right: 1px solid #d8dae2;

                span {
                    display: block;
                    margin-top: 3px;
                    font-size: 13px;
                }

                i {
                    position: absolute;
                    right: -10px;
                    top: 6px;
                    font-size: 20px;
                }
            }

            &:last-child {
                padding-left: 20px;

                span {
                    display: block;
                    padding-bottom: 10px;
                }
            }
        }
    }
}
/*时间轴颜色设置*/
$timeline: ('primary':#1266f1,'warning':#fbbc05,'sucess':#5db54d,'danger':#d62516);

@each $header, $size in $timeline {
    .form-timeline-#{$header} {
        div {
            &:first-child {
                i {
                    color: $size;
                    background: #ffffff;
                }
            }
        }

        div:last-child {
            span:first-child {
                color: $size;
            }
        }
    }
}