@inject IUiService X
@{
    Layout = null;
}
<style>
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }
</style>
<form class="example-form">
    @X.TextBox().Placeholder( "金额" ).Number().Required()
    @X.TextBox().Placeholder( "金额" ).Number().Required()
    @X.TextBox().Placeholder( "金额" ).Number().Required()
    @X.Button( "登陆" ).OnClick( "fun()" ).Plain()
    {{name}}
</form>
