@{
    ViewData["Title"] = "Tile";
}

<div>
    @Html.Ui().TextBox().Name( "queryParam.Name" ).Model( "queryParam.Name" ).Placeholder( "姓名" )
    <button mat-raised-button mat-button (click)="query()">查询</button>
</div>

<table-wrapper #grid url="/api/customers" [queryParam]="queryParam">
    <mat-table [dataSource]="grid.dataSource" [style.min-height]="grid.minHeight+'px'" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

        <ng-container matColumnDef="lineNumber">
            <mat-header-cell *matHeaderCellDef>行号</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.lineNumber }}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="selectCheckbox">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox >
                    全选
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox >
                </mat-checkbox>
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>姓名</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nickname">
            <mat-header-cell *matHeaderCellDef>昵称</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.nickname }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef>电话</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.mobile }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['lineNumber','selectCheckbox', 'name']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['lineNumber','selectCheckbox', 'name'];"></mat-row>
    </mat-table>
</table-wrapper>