@inject IUiService X
@{
    Layout = null;
}
<style>
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }
</style>
<form class="example-form">
    @X.TextBox().Placeholder( "姓名" ).Password()
</form>
