<mat-sidenav-container>
    <mat-sidenav class="sidenav" align="start" [mode]="sidenavMode" [opened]="sidenavOpen">
        <app-brand class="ui-background-blue"></app-brand>
        <app-sidenav class="ui-background-dark"></app-sidenav>
    </mat-sidenav>

    <div class="sidenav-container">
        <ui-header class="ui-background-white" (sidenavOpens)="sidenavOpens($event)"></ui-header>
        <div class="layout-breadcrumb">
            <ul>
                <li><a routerlink="" href="#/"><i class="material-icons">home</i></a></li>
                <li>/</li>
                <li class="">
                   Components
                </li>
                <li class="">/</li>

                <li class="">
                   <a href="#/messages">Messages</a>
                </li>
            </ul>
        </div>
        <div class="main-container">
            <router-outlet></router-outlet>
        </div>
        <ui-footer></ui-footer>
    </div>

</mat-sidenav-container>
<p-growl [life]="5000"></p-growl>
<p-confirmDialog icon="fa fa-question-circle"></p-confirmDialog>
@*loading等待模块*@
@*<div class="loading" [hidden]="isloading">
    <div class="background">
        <div class="wrapper">
            <div class="logo"><span>S</span></div>
            <div class="info">请稍等</div>
        </div>
    </div>
</div>*@