@model Donau.Services.Dtos.Customers.CustomersDto
@{
    ViewData["Title"] = "Tile";
    var x = Html.Ui();
}

<span fxFlex style="flex: 1 1 1e-09px; box-sizing: border-box;"></span>
<div class="icon-group">
    <button class="spam" mat-icon-button matTooltip="新增">
        <mat-icon>add</mat-icon>
    </button>
    <button class="spam" mat-icon-button matTooltip="修改">
        <mat-icon>edit</mat-icon>
    </button>
    <button class="delete" mat-icon-button matTooltip="删除" (click)="delete()">
        <mat-icon>delete</mat-icon>
    </button>

</div>
<div style="margin: 100px">


    <util-form id="form" on-submit="onChange(form)">
        <mat-card>
            <mat-card-content>
                <util-textbox for="Name"></util-textbox>
                <util-select for="Nation"></util-select>
                <util-checkbox for="IsGender"></util-checkbox>
            </mat-card-content>
            <mat-card-content>
                <util-radio for="Gender"></util-radio>
            </mat-card-content>
            <mat-card-content>
                <util-slide-toggle for="IsGender"></util-slide-toggle>
                @x.Select( t => t.Nation )
                @x.TextBox( t => t.Name )
            </mat-card-content>
            <mat-card-content>
                @using( x.Button().Style( ButtonStyle.Icon ).Tooltip( "重置一下" ).Reset().Begin() ) {
                    <util-icon material-icon="Android"></util-icon>
                }
                @x.Button().Submit()
            </mat-card-content>
        </mat-card>

    </util-form>

    <div style="margin: 100px">
        @using( x.Button().Menu( Model.GetMenus() ).Style( ButtonStyle.Icon ).Begin() ) {
            <util-icon material-icon="More_Vert"></util-icon>
        }
    </div>

    <util-container>



        <util-tabs color="Primary" stretch="true" >
            <util-tab material-icon="Security" label="哈哈">
                哈哈
            </util-tab>
            <util-tab font-awesome-icon="Linux" label="嘿嘿">
                a
            </util-tab>
            <util-tab font-awesome-icon="Android" label="卡卡" lazy-load="true">
                b
            </util-tab>
        </util-tabs>



        @using( var tabs = x.Tabs().Stretch().Select( "selectedIndex" ).Color( Color.Accent ).Begin() ) {
            using( tabs.Tab().Label( "哈哈" ).Icon( FontAwesomeIcon.Linux ).Begin() ) {
                <div>哈哈2</div>
            }
            using( tabs.Tab().Label( "FontAwesome图标" ).Icon( MaterialIcon.Security ).Begin() ) {
                <span>a</span>
            }
            <util-tab font-awesome-icon="Android" label="卡卡">
                a
            </util-tab>
        }
        
        
        <mat-tab-group color="accent" mat-stretch-tabs="" [(selectedIndex)]="selectedIndex">
            <mat-tab>
                <div>哈哈2</div>
            </mat-tab>
            <mat-tab>
                 <span>a</span>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label=""><i class="fa fa-android"></i>卡卡</ng-template>
                a
            </mat-tab>
        </mat-tab-group>

    </util-container>


    <nav mat-tab-nav-bar>
        <a mat-tab-link
           *ngFor="let link of navLinks"
           [routerLink]="link.path"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
            {{link.label}}
        </a>
    </nav>
    <router-outlet></router-outlet>

    <nav mat-tab-nav-bar>
        <a mat-tab-link
           *ngFor="let link of navLinks2"
           [routerLink]="link.path"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
            {{link.label}}
        </a>
    </nav>
    <router-outlet></router-outlet>
</div>

<table-wrapper #grid [queryParam]="queryParam" baseUrl="customers">
    @*表头*@
    <div class="table-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="关键词搜索">
        </mat-form-field>
    </div>
    <mat-table matSort matSortActive="created" matSortDisableClear matSortDirection="asc" class="table-head-fixed">

        <ng-container matColumnDef="selectCheckbox">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? grid.masterToggle() : null"
                              [disabled]="!grid.dataSource.data.length"
                              [checked]="grid.isMasterChecked()"
                              [indeterminate]="grid.isMasterIndeterminate()">
                </mat-checkbox>
            </mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="lineNumber">
            <mat-header-cell *matHeaderCellDef>No</mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>姓名</mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="nickname">
            <mat-header-cell *matHeaderCellDef mat-sort-header>昵称</mat-header-cell>
        </ng-container>

        <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef>电话</mat-header-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="['selectCheckbox','lineNumber', 'name','nickname','mobile']"></mat-header-row>
    </mat-table>
    @*数据*@
    <mat-table [dataSource]="grid.dataSource" [style.min-height]="grid.minHeight+'px'" [style.max-height]="grid.maxHeight+'px'" matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

        <ng-container matColumnDef="selectCheckbox">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? grid.masterToggle() : null"
                              [disabled]="!grid.dataSource.data.length"
                              [checked]="grid.isMasterChecked()"
                              [indeterminate]="grid.isMasterIndeterminate()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? grid.selection.toggle(row) : null"
                              [checked]="grid.selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lineNumber">
            <mat-header-cell *matHeaderCellDef>No</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.lineNumber }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>姓名</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nickname">
            <mat-header-cell *matHeaderCellDef mat-sort-header>昵称</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.nickname }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef mat-sort-header>电话</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.mobile }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['selectCheckbox','lineNumber', 'name','nickname','mobile']" style="display: none"></mat-header-row>
        <mat-row matRipple *matRowDef="let row; columns: ['selectCheckbox','lineNumber', 'name','nickname','mobile'];"
                 class="mat-row-hover">
        </mat-row>
    </mat-table>
</table-wrapper>

