<div class="login-conainer" fxLayout="row" fxLayoutAlign="center center">
    <div class="login-logo">
        <img src="src/images/login_logo.png" />
    </div>
    <div class="login-main">
        <img src="/images/login_title.png" />
        <form fxLayout="column">
            <div class="full-width full-width-username">
                <input type="text" matInput placeholder="请输入账号" />
            </div>
            <div class="full-width full-width-password">
                <input type="password" placeholder="请输入密码" />
            </div>
            <div class="full-width full-width-remberpassword">
                <div class="remberpsd">
                    <mat-checkbox class="example-margin">记住密码</mat-checkbox>
                </div>
            </div>
            <button mat-raised-button color="warm" class="warm-button" type="submit">登录</button>
        </form>
    </div>
</div>