<util-sidenav-container fullscreen="true">
    @*导航侧边栏*@
    <util-sidenav id="sidenav" opened="true" mode="Side" width="250">
        @await Html.PartialAsync( "Main/SideNav" )
    </util-sidenav>
    <util-sidenav-content>
        @*页头*@
        @await Html.PartialAsync( "Main/Header" )
        @*内容区*@
        <div class="navbar-content">
            <util-router-outlet></util-router-outlet>
        </div>
        @*页脚*@
        @await Html.PartialAsync( "Main/Footer" )
    </util-sidenav-content>
</util-sidenav-container>

@*消息提示*@
<p-growl life="5000"></p-growl>