<mat-sidenav-container fullscreen="">
    <mat-sidenav #sidenav="" mode="side" opened="true" style="width:250px">
        <mat-accordion displayMode="flat">
    <div class="sidenav-logo">
        <i class="fa fa-apple"></i>&nbsp;&nbsp;Util
    </div>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>android</mat-icon>
                <span style="margin-left: 16px">哈哈</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent="">
            <mat-nav-list>
                <a mat-list-item="" routerLink="systems/application">
                    <mat-icon mat-list-icon="">android</mat-icon>
                    <span mat-line="">应用程序</span>
                </a>
            </mat-nav-list>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>
    </mat-sidenav>
    <mat-sidenav-content>
        
<div class="navbar-header">
    <mat-button-wrapper (onClick)="sidenav.toggle()" class="btn-toggle" style="mat-icon-button"><ng-template>
        <i class="fa fa-bars"></i>
    </ng-template></mat-button-wrapper>

    <span class="toolbar-fill-remain"></span>
    <mat-list>
        <mat-list-item>
            <span class="navbar-btn">
                <i class="fa fa-sign-out"></i> 退出
            </span>
        </mat-list-item>
    </mat-list>
</div>
<div class="navbar-crumbs">
    <ul class="bread-crumb">
        <li>
            <a href="/"><i class="fa fa-home"></i></a>
        </li>
        <li>
            <a>栏目1</a>
        </li>
        <li>
            <a>栏目2</a>
        </li>
    </ul>
</div>
        <div class="navbar-content">
            <router-outlet></router-outlet>
        </div>
        <div class="navbar-footer">
    <div class="pull-right">
        <strong>Util</strong>
    </div>
    <div>
        <strong>Copyright</strong> &copy; 2018
    </div>
</div>
    </mat-sidenav-content>
</mat-sidenav-container>

<p-growl life="5000"></p-growl>