
<style>
    .mat-column-code {
        max-width: 10%;
    }

    .mat-column-name {
        max-width: 20%;
    }

    .mat-column-comment {
        max-width: 40%;
    }

    .mat-column-enabled {
        max-width: 80px;
    }

    .mat-column-registerEnabled {
        max-width: 80px;
    }

    .mat-column-creationTime {
        max-width: 100px;
    }

    .mat-column-operation {
        max-width: 140px;
    }

    .mat-expansion-panel {
        margin-bottom: 10px;
    }
</style>
<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            测试
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent="">
            <div fxLayout="row" fxLayoutGap="20px">
                <mat-button-wrapper color="primary" style="mat-raised-button" text="测试"></mat-button-wrapper>
                <mat-button-wrapper color="primary" style="mat-raised-button" text="测试2"></mat-button-wrapper>
            </div>
        </ng-template>
    </mat-expansion-panel>
</mat-accordion>
<mat-toolbar>
    <div fxLayout="row">
        <mat-textbox-wrapper (onChange)="search()" placeholder="搜索" [(model)]="queryParam.keyword"></mat-textbox-wrapper>
    </div>
    <div fxLayout="row">
        <a mat-icon-button="" matTooltip="添加应用程序" routerLink="create">
            <i class="fa fa-plus"></i>
        </a>
        <mat-button-wrapper (onClick)="delete()" style="mat-icon-button" tooltip="批量删除"><ng-template>
            <mat-icon>delete</mat-icon>
        </ng-template></mat-button-wrapper>
        <mat-button-wrapper (onClick)="refresh()" style="mat-icon-button" tooltip="刷新"><ng-template>
            <mat-icon>sync</mat-icon>
        </ng-template></mat-button-wrapper>
    </div>
</mat-toolbar>

<p-treeTable [value]="files" selectionMode="checkbox">
    <p-column field="name" header="Name"></p-column>
    <p-column field="size" header="Size"></p-column>
    <p-column field="type" header="Type"></p-column>
</p-treeTable>