<style>
    .mat-expansion-panel {
        margin-bottom: 10px;
    }
</style>
<form #form="ngForm" (ngSubmit)="submit(form)">
    <div fxLayout="row" fxLayoutAlign="center start"><div fxFlex="70%">
        <mat-card>
            <mat-card-header>
                <i class="fa fa-address-card-o" style="margin-right: 10px;"></i>
                应用程序详情
            </mat-card-header>
            <mat-card-content class="formContent form-list-content">
                <div fxLayout="row"><div fxFlex="100%">
                    <label>应用资料</label>
                    <img src="css/images/header-profile.png" height="40px" />
                </div></div>
                <div fxLayout="row"><div fxFlex="100%">
                    <label for="Code">应用程序编码</label>
                    {{model.code}}
                </div></div>
                <div fxLayout="row"><div fxFlex="100%">
                    <label for="Name">应用程序名称</label>
                    {{model.name}}
                </div></div>
                <div fxLayout="row"><div fxFlex="100%">
                    <label for="Comment">备注</label>
                    {{model.comment}}
                </div></div>
                <div fxLayout="row"><div fxFlex="100%">
                    <label for="Enabled">启用</label>
                    {{model.enabled}}
                </div></div>
                <div fxLayout="row"><div fxFlex="100%">
                    <label for="RegisterEnabled">启用注册</label>
                    {{model.registerEnabled}}
                </div></div>
            </mat-card-content>
            <mat-card-actions align="end">
                <mat-button-wrapper (onClick)="back()" style="mat-button" text="返回"></mat-button-wrapper>
            </mat-card-actions>
        </mat-card>
    </div></div>
    <div fxLayout="row" fxLayoutAlign="center start"><div fxFlex="70%">
        <mat-card>
            <mat-card-header>
                <i class="fa-spin fa fa-spinner" style="margin-right: 10px;"></i>
                应用程序详情
            </mat-card-header>
            <mat-card-content>
                <mat-list>
                    <mat-list-item>
                        <label for="Code">应用程序编码</label>
                        {{model.code}}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <label for="Name">应用程序名称</label>
                        {{model.name}}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <label for="Comment">备注</label>
                        {{model.comment}}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <label for="RegisterEnabled">启用注册</label>
                        {{model.registerEnabled}}
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-card-content>
            <mat-card-actions align="end">
                <mat-button-wrapper (onClick)="back()" style="mat-button" text="返回"></mat-button-wrapper>
            </mat-card-actions>
        </mat-card>
    </div></div>
    <div fxLayout="row" fxLayoutAlign="center start"><div fxFlex="70%">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    应用程序详情
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent="">
                    <mat-list>
                        <mat-list-item>
                            <label for="Code">应用程序编码</label>
                            {{model.code}}
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <label for="Name">应用程序名称</label>
                            {{model.name}}
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <label for="Comment">备注</label>
                            {{model.comment}}
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <label for="RegisterEnabled">启用注册</label>
                            {{model.registerEnabled}}
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
    </div></div>
    <div fxLayout="row" fxLayoutAlign="center start"><div fxFlex="70%">
        <mat-card>
            <mat-card-header>
                应用程序详情
            </mat-card-header>
            <mat-card-content class="formContent form-list-content">
                <div fxLayout="row"><div fxFlex="100%">
                    <div fxFlex="50%">
                        <label for="Code">应用程序编码</label>
                        {{model.code}}
                    </div>
                    <div fxFlex="50%">
                        <label for="Name">应用程序名称</label>
                        {{model.name}}
                    </div>
                </div></div>
                <div fxLayout="row"><div fxFlex="100%">
                    <div fxFlex="50%">
                        <label for="Comment">备注</label>
                        {{model.comment}}
                    </div>
                    <div fxFlex="50%">
                        <label for="Enabled">启用</label>
                        {{model.enabled}}
                    </div>
                </div></div>
                <div fxLayout="row"><div fxFlex="100%">
                    <label for="RegisterEnabled">启用注册</label>
                    {{model.registerEnabled}}
                </div></div>
            </mat-card-content>
            <mat-card-actions align="end">
                <mat-button-wrapper (onClick)="back()" style="mat-button" text="返回"></mat-button-wrapper>
            </mat-card-actions>
        </mat-card>
    </div></div>
    <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="66.6%">
            <mat-card>
                <mat-card-header>
                    应用程序详情
                </mat-card-header>
                <mat-card-content class="formContent form-list-content">
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Code">应用程序编码</label>
                        {{model.code}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Name">应用程序名称</label>
                        {{model.name}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Comment">备注</label>
                        {{model.comment}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Enabled">启用</label>
                        {{model.enabled}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="RegisterEnabled">启用注册</label>
                        {{model.registerEnabled}}
                    </div></div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <mat-button-wrapper (onClick)="back()" style="mat-button" text="返回"></mat-button-wrapper>
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex="33.3%">
            <mat-card>
                <mat-card-header>
                    时间轴
                </mat-card-header>
                <mat-card-content class="form-timeline">
                    <div class="form-timeline-sucess" fxLayout="row">
                        <div fxFlex="25%">
                            <span>2018/01/01</span>
                            <i class="fa fa-birthday-cake"></i>
                        </div>
                        <div fxFlex="75%">
                            <span>2018年的第一天</span>
                            <span>2018年的第一天,2018年的第一天2018年的第一天,2018年的第一天</span>
                        </div>
                    </div>
                    <div class="form-timeline-warning" fxLayout="row">
                        <div fxFlex="25%">
                            <span>2018/02/01</span>
                            <i class="fa fa-life-ring"></i>
                        </div>
                        <div fxFlex="75%">
                            <span>2018年的第一天</span>
                            <span>2018年的第一天,2018年的第一天2018年的第一天,2018年的第一天</span>
                            <img src="css/images/header-profile.png" />
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="1 1 auto">
            <mat-card>
                <mat-card-header>
                    应用程序详情
                </mat-card-header>
                <mat-card-content class="formContent form-list-content">
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Code">应用程序编码</label>
                        {{model.code}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Name">应用程序名称</label>
                        {{model.name}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Comment">备注</label>
                        {{model.comment}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Enabled">启用</label>
                        {{model.enabled}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="RegisterEnabled">启用注册</label>
                        {{model.registerEnabled}}
                    </div></div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <mat-button-wrapper (onClick)="back()" style="mat-button" text="返回"></mat-button-wrapper>
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex="1 1 auto">
            <mat-card>
                <mat-card-header>
                    应用程序详情
                </mat-card-header>
                <mat-card-content class="formContent form-list-content">
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Code">应用程序编码</label>
                        {{model.code}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Name">应用程序名称</label>
                        {{model.name}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Comment">备注</label>
                        {{model.comment}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Enabled">启用</label>
                        {{model.enabled}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="RegisterEnabled">启用注册</label>
                        {{model.registerEnabled}}
                    </div></div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <mat-button-wrapper (onClick)="back()" style="mat-button" text="返回"></mat-button-wrapper>
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex="1 1 auto">
            <mat-card>
                <mat-card-header>
                    应用程序详情
                </mat-card-header>
                <mat-card-content class="formContent form-list-content">
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Code">应用程序编码</label>
                        {{model.code}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Name">应用程序名称</label>
                        {{model.name}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Comment">备注</label>
                        {{model.comment}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Enabled">启用</label>
                        {{model.enabled}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="RegisterEnabled">启用注册</label>
                        {{model.registerEnabled}}
                    </div></div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <mat-button-wrapper (onClick)="back()" style="mat-button" text="返回"></mat-button-wrapper>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="1 1 auto">
            <mat-card>
                <mat-card-header>
                    应用程序详情
                </mat-card-header>
                <mat-card-content class="formContent form-list-content">
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Code">应用程序编码</label>
                        {{model.code}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Name">应用程序名称</label>
                        {{model.name}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Comment">备注</label>
                        {{model.comment}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Enabled">启用</label>
                        {{model.enabled}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="RegisterEnabled">启用注册</label>
                        {{model.registerEnabled}}
                    </div></div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <mat-button-wrapper (onClick)="back()" style="mat-button" text="返回"></mat-button-wrapper>
                </mat-card-actions>
            </mat-card>
        </div>
        <div fxFlex="1 1 auto">
            <mat-card>
                <mat-card-header>
                    应用程序详情
                </mat-card-header>
                <mat-card-content class="formContent form-list-content">
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Code">应用程序编码</label>
                        {{model.code}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Name">应用程序名称</label>
                        {{model.name}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Comment">备注</label>
                        {{model.comment}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="Enabled">启用</label>
                        {{model.enabled}}
                    </div></div>
                    <div fxLayout="row"><div fxFlex="100%">
                        <label for="RegisterEnabled">启用注册</label>
                        {{model.registerEnabled}}
                    </div></div>
                </mat-card-content>
                <mat-card-actions align="end">
                    <mat-button-wrapper (onClick)="back()" style="mat-button" text="返回"></mat-button-wrapper>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</form>