<div nz-row nzGutter="16">
    <div nz-col nzXs="24" nzMd="12">
        <nz-card [nzBordered]="false" [nzCover]="coverTpl">
            <ng-template #coverTpl>
                <img class="img" src="//os.alipayobjects.com/rmsportal/GhjqstwSgxBXrZS.png">
            </ng-template>
            <h3>ANT DESIGN</h3>
            <p class="text-grey">A UI Design Language</p>
            <ol class="list-styled text-lg pt-md">
                <li>Designed by experienced team, and showcase dozens of inspiring projects.</li>
                <li>Provide solutions for usual problems that may be encountered while developing enterprise-like complex UIs.</li>
                <li>Dozens of flexible and practical reusable components that increase your productivity.</li>
            </ol>
            <p class="pt-md mb0">
                <a class="text-grey" href="//ng.ant.design" target="_blank">View Site...</a>
            </p>
        </nz-card>
    </div>
</div>