@page
@model MainModel
@functions {
    /// <summary>
    /// 根组件视图
    /// </summary>
    [Html(Path = "Typing/app/app.component.html")]
    public class MainModel : PageModel {}
}
<div id="c1"></div>