<div class="toolbar toolbar-detail" fxLayout="row" fxLayoutAlign="start center">
    <div class="search mat-elevation-z2" fxLayout="row" *ngIf="showSearch">
        <div fxLayout="row" fxLayoutAlign="center center" class="search-icon">
            <mat-icon>search</mat-icon>
        </div>
        <input fxFlex type="search" autocomplete="off" spellcheck="false" [placeholder]="placeholder"
               (keyup.enter)="enterUp()" [(ngModel)]="inputValue">
    </div>
    <span fxFlex style="flex: 1 1 1e-09px; box-sizing: border-box;"></span>
    <div class="icon-group">
        <button class="archive" mat-icon-button matTooltip="搜索" (click)="showSearch = !showSearch">
            <mat-icon>search</mat-icon>
        </button>
        <button class="spam" mat-icon-button matTooltip="新增">
            <mat-icon>add</mat-icon>
        </button>
        <button class="spam" mat-icon-button matTooltip="修改">
            <mat-icon>edit</mat-icon>
        </button>
        <button class="delete" mat-icon-button matTooltip="删除">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <div class="icon-group">
        <button class="archive" mat-icon-button matTooltip="移动到">
            <mat-icon>folder</mat-icon>
        </button>
    </div>
</div>
<div class="example-container mat-elevation-z8">

    <mat-table>
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    </mat-table>
    <mat-table #table [dataSource]="dataSource">

        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" style="display: none"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>

<a routerLink="/demo">demo</a>