@page
<page-header [title]="'树形'"></page-header>
<nz-card [nzBordered]="false">
    <util-tree url="/api/role" query-param="queryParam" show-checkbox="true"></util-tree>
    <nz-tree-table-wrapper #tableApplication_wrapper="" baseUrl="RoleTable"  [(queryParam)]="queryParam">
        <nz-table #tableApplication="" (nzPageIndexChange)="tableApplication_wrapper.pageIndexChange($event)"
                  (nzPageSizeChange)="tableApplication_wrapper.pageSizeChange($event)"
                  [nzData]="tableApplication_wrapper.dataSource" [nzFrontPagination]="false"
                  [nzLoading]="tableApplication_wrapper.loading" [nzShowPagination]="tableApplication_wrapper.showPagination"
                  [nzShowSizeChanger]="true" [nzTotal]="tableApplication_wrapper.totalCount">
            <thead (nzSortChange)="tableApplication_wrapper.sort($event)">
            <tr>
                <th>
                    <label *ngIf="true"
                           nz-checkbox
                           [nzIndeterminate]="tableApplication_wrapper.isMasterIndeterminate()"
                           [nzChecked]="tableApplication_wrapper.isMasterChecked()"
                           (nzCheckedChange)="tableApplication_wrapper.masterToggle()">
                        应用程序编码
                    </label>
                </th>
                <th nzSortKey="name" [nzShowSort]="true">应用程序名称</th>
                <th>启用</th>
                <th>启用注册</th>
                <th>创建时间</th>
            </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of tableApplication.data">
                        <tr *ngIf="tableApplication_wrapper.isShow(item)">
                            <td [nzIndentSize]="item.level * 20"
                                [nzShowExpand]="!tableApplication_wrapper.isLeaf(item)"
                                [nzExpand]="tableApplication_wrapper.isExpand(item)"
                                (nzExpandChange)="tableApplication_wrapper.collapse(item, $event)">
                                <label *ngIf="true"
                                       nz-checkbox
                                       [nzIndeterminate]="tableApplication_wrapper.isMasterIndeterminate()"
                                       [nzChecked]="tableApplication_wrapper.checkedSelection.isSelected(item)"
                                       (nzCheckedChange)="tableApplication_wrapper.rowToggle(item)">
                                    {{item.code}}
                                </label>
                            </td>
                            <td>{{item.name}}</td>
                            <td>
                                <i *ngIf="item.enabled" nz-icon="" nzType="check"></i>
                                <i *ngIf="!item.enabled" nz-icon="" nzType="close"></i>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                </ng-container>
            </tbody>
        </nz-table>
    </nz-tree-table-wrapper>

    <nz-table #expandTable [nzData]="list">
        <thead>
        <tr>
            <th nzWidth="40%">Name</th>
            <th nzWidth="30%">Age</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let row of expandTable.data">
            <ng-container *ngFor="let item of row.children">
                <tr *ngIf="true">
                    <td
                        [nzIndentSize]="item.level * 20"
                        [nzShowExpand]="true"
                        [nzExpand]="true"
                        (nzExpandChange)="collapse(item, item, $event)"
                    >
                        {{ item.code }}
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.code }}</td>
                </tr>
            </ng-container>
        </ng-container>
        </tbody>
    </nz-table>
</nz-card>

