<%@ Template Language="C#" TargetLanguage="C#" Debug="True" Encoding="UTF-8" %>

<%@ Assembly Src="..\..\..\..\Common\Model.cs" %>
<%@ Assembly Src="..\..\..\..\Common\Extensions.cs" %>

<%@ Import Namespace="System.Collections.Generic" %>
<%@ Import Namespace="System.Linq" %>
<%@ Import Namespace="System.Text" %>
<%@ Import Namespace="System.Text.RegularExpressions" %>
<%@ Import Namespace="SchemaMapper" %>

<%@ Property Name="Entity" Type="SchemaMapper.Entity"  %>
<%@ Property Name="Namespace" Type="System.String" %>
<%-- Safe类名 --%>
<% string SafeClassName = Entity.ClassName.ToSafeName(); %>
<%-- 描述 --%>
<% string Description = Entity.Description; %>
import { TreeQueryParameter } from '../../../../util';

/**
 * <%=Entity.Description%>查询参数
 */
export class <%=SafeClassName%>Query extends TreeQueryParameter {
    <% foreach(Property p in Entity.Properties) { %>
    <% if( Entity.IsFilterByQueryObject(p) ) continue;%>
    <% if( Entity.IgnoreTreeEntityProperty(p) ) continue;%>
    <% if( p.SystemType == typeof(DateTime) ) {%>
    /**
     * 起始<%=p.Description %>
     */
    begin<%= p.PropertyName.ToSafeName() %>;
    /**
     * 结束<%=p.Description %>
     */
    end<%= p.PropertyName.ToSafeName() %>;
    <%continue;}%>
    /**
     * <%=p.Description %>
     */
    <%= p.PropertyName.ToSafeName().ToCamelCase() %>;
    <% } %>
}