@page
@model UserModel
<page-header title="表格">
    展示行列数据
</page-header>
<nz-card>
    <nz-alert nzType="info" nzMessage="返回分页列表PageList - 有数据"></nz-alert>
    <util-table id="tablePageList" url="/api/table/page-list" query-param="queryParam">
        <util-table-column type="Checkbox"></util-table-column>
        <util-table-column type="LineNumber"></util-table-column>
        <util-table-column for="Name"></util-table-column>
        <util-table-column for="Age"></util-table-column>
        <util-table-column for="Birthday"></util-table-column>
        <util-table-column for="Address" truncate="30"></util-table-column>
        <util-table-column title="操作">
            <a>Action 一 {{ row.name }}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
        </util-table-column>
    </util-table>
    <nz-alert nzType="info" nzMessage="返回分页列表PageList - 无数据"></nz-alert>
    <util-table id="tableEmptyPageList" url="/api/table/empty-page-list" query-param="queryParam">
        <util-table-row>
            <util-table-column type="LineNumber"></util-table-column>
            <util-table-column type="Checkbox"></util-table-column>
            <util-table-column for="Name"></util-table-column>
            <util-table-column for="Age"></util-table-column>
            <util-table-column for="Birthday"></util-table-column>
            <util-table-column for="Address"></util-table-column>
            <util-table-column title="操作">
                <a>Action 一 {{ row.name }}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
            </util-table-column>
        </util-table-row>
    </util-table>
    <nz-alert nzType="info" nzMessage="返回未分页列表List - 有数据"></nz-alert>
    <util-table id="tableList" url="/api/table/list" query-param="queryParam">
        <util-table-row>
            <util-table-column type="LineNumber"></util-table-column>
            <util-table-column type="Checkbox"></util-table-column>
            <util-table-column for="Name"></util-table-column>
            <util-table-column for="Age"></util-table-column>
            <util-table-column for="Birthday"></util-table-column>
            <util-table-column for="Address" truncate="20"></util-table-column>
            <util-table-column title="操作">
                <a>Action 一 {{ row.name }}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
            </util-table-column>
        </util-table-row>
    </util-table>
    <nz-alert nzType="info" nzMessage="返回未分页列表List - 无数据"></nz-alert>
    <util-table id="tableEmptyList" url="/api/table/empty-list" query-param="queryParam">
        <util-table-row>
            <util-table-column type="LineNumber"></util-table-column>
            <util-table-column type="Checkbox"></util-table-column>
            <util-table-column for="Name"></util-table-column>
            <util-table-column for="Age"></util-table-column>
            <util-table-column for="Birthday"></util-table-column>
            <util-table-column for="Address"></util-table-column>
            <util-table-column title="操作">
                <a>Action 一 {{ row.name }}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
            </util-table-column>
        </util-table-row>
    </util-table>
</nz-card>
