<util-accordion display-mode="Flat">
    <div class="sidenav-logo">
        <util-icon font-awesome-icon="Apple"></util-icon>&nbsp;&nbsp;Util
    </div>
    <util-panel expanded="true">
        <util-panel-header>
            <util-panel-title>
                <util-icon material-icon="Android"></util-icon>
                <span style="margin-left: 16px">哈哈</span>
            </util-panel-title>
        </util-panel-header>
        <util-panel-content>
            <util-nav-list>
                <util-nav-list-item link="systems/application">
                    <util-nav-list-icon material-icon="Android"/>
                    <util-nav-list-text>应用程序</util-nav-list-text>
                </util-nav-list-item>
            </util-nav-list>
        </util-panel-content>
    </util-panel>
</util-accordion>